<Log>
  <appender name="RollingFileAppender">
    <OutPutStream value="file" />
    <LoggerFile value="Sys.log"/>
    <fileReplaceStyle value="size;time"/>
    <maxFiles value="5"/>
    <maximumLogSize value="10MB"/>
    <maximumLogTime value="1s;m;h;d" />
    <pattern>@[lname](@[llevel]) - time is: @[D]{dd.MM.yyyy|hh:mm:ss|lll}. process id is: @[pId]. message is: @[msg].   @[tId]</pattern>
    <filter type="LevelRangeFilter;textContain;timeOfDay;dayOfWeak;countSinceReset">
      <levelMin value="DEBUG"/>
      <levelMax value="FATAL"/>
    </filter>
    <level value="1" />
  </appender>
  <logger name="regLog" value="RollingFileAppender">
    <level value="5" />
  </logger>
</Log>
